
  <div class="dashboard">
    <nav class="sidebar">
      
      <i  class=" rounded-photo"></i>
    


      <ul class="sidebar__menu">
        <li class="sidebar__item"><i id="icons" class="fa-solid fa-box"></i><a href="#" class="sidebar__link"> Products</a></li>
        <li class="sidebar__item"><i id="icons" class="fa-solid fa-user"></i><a href="#" class="sidebar__link"> Users</a></li>
        <li class="sidebar__item"><i id="icons" class="fa-brands fa-first-order"></i><a href="#" class="sidebar__link"> Orders</a></li>
        <li class="sidebar__item">
          <i id="icons" class="fa-solid fa-layer-group"></i>
          <a href="#" class="sidebar__link" (click)="toggleCategories()"> Categories</a>
          <ul *ngIf="showCategories" class="sub-categories">
            <li><i id="icons" class="fa-solid fa-arrow-right-to-arc"></i><a href="#" class="sidebar__link"> Categories</a></li>
            <li><i id="icons" class="fa-solid fa-arrow-right-to-arc"></i><a href="#" class="sidebar__link"> Sous-Categories</a></li>
            <!-- Ajoutez ici vos sous-catégories -->
          </ul>
        </li>
        <!-- Ajoutez ici d'autres éléments de menu -->
      </ul>
    </nav>
    <main class="main-content">
      <header class="header">
        <h1 class="header__title">Dashboard</h1>
      </header>
      <section class="content">
        <h2>Welcome to the Dashboard</h2>
        <p>This is your dashboard content. You can add more content here.</p>
      </section>
    </main>
  </div>